{% extends "base.html" %}
{% block content %}
<div id="header"></div>
  <div class="contentTitle">Welcome to our Daily Planner</div>
    <div class="pageContent">
        <h1>Add a task!</h1>
        <form>
            Task Name:<br>
            <input type="text" name="taskname">
            <br>
            Task Deadline:<br>
            <input type="text" name="deadline">
            <br>
            Add a Subtask:
            <input type="submit" value="Submit">
        </form>
{% endblock %}