{% extends "base.html" %}
{% block content %}
<div id="header"></div>
  <div class="contentTitle">Enter Your Tasks Here:</div>
    <div class="pageContent">
        <h1>{{ title }}</h1>
        <form>
            Task Name:<br>
            <input type="text" name="taskname">
            <br>
            Task Deadline:<br>
            <input type="text" name="deadline">
            <br>
            Estimated completion time:<br>
            <input type="number" name="deadline"> hours
            <br>
            <input type="submit" value="Add Task">
        </form>
{% endblock %}