

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ title }}</title>
    <!-- Bootstrap core CSS -->
    <link  rel="stylesheet" type="text/css" href={{ url_for('static', filename='bootstrap-3.3.2-dist/css/bootstrap.min.css') }}/>
    <link  rel="stylesheet" type="text/css" href={{ url_for('static', filename='bootstrap-3.3.2-dist/css/jumbotron-narrow.css') }}/>
  </head>

  <body>

    <div class="container">
      <div class="header">
        <nav>
            <div class='row well well-lg '>
                <div class="container">
                    <div class='col-md-6'>
                        <h1 class="text-muted">Get Shit Done</h1>
                    </div>
                    <div class='col-md-6 top-buffer'>
                        <ul class="nav nav-pills pull-right">
                            <li role="presentation" class="active"><a href={{ url_for('login') }}>Home</a></li>
                            <li role="presentation"><a href={{ url_for('addtaskhtml') }}>Add task</a></li>
                            <li role="presentation"><a href={{ url_for('today') }}>Today</a></li>
                        </ul>
                    </div>
                </div>
                   <div class = 'underscore'></div>
                <div id="blueBox">
                    {% block content %}
                    {% endblock %}
                </div>

             </div>


        </nav>

      </div>



{#      <div class="jumbotron">#}
{#        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>#}
      </div>
    </body>>
</html>