{% extends "base.html" %}
{% block content %}
    <div id="header"></div>
    <div class="contentTitle">Welcome to Your Daily Planner</div>
    <div class="pageContent">
        <h1>Login</h1>
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
        <form action="{{ url_for('login') }}" method="post">
              Username:<br>
              <input type="text" name="username">
              <br>
              Password:<br>
              <input type="password" name="password">
              <br>
              <input type="submit" value="Login">
            </dl>
        </form>
    </div>
{% endblock %}